/* doctors.css */
.doctors-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0f7fa; /* Light Blue Background */
  padding: 20px;
}

.doctors-box {
  width: 90%;
  max-width: 600px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-left: 160px;
}
