/* settings.css */
.settings-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2c3e50; /* Dark blue-gray background */
  color: white;
  /* padding: 20px; */
  margin: left 9rem;;

}

.settings-form {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-left: 150px;
  margin-right: 20px;
}
